extends ../layouts/default

block main
  .text-center
    h3|No-Dues Form

block content
  form#noDuesForm( action='/no_dues', name='noDuesForm', method='post', class='form-horizontal' )
    input( type='hidden', name='_csrf', value="#{csrf_token}" )
    .form-group
      .col-sm-4.col-sm-offset-1
        label.control-label( for='employee_name' ) Name of Employee
      .col-sm-6     
        input#employee_name.form-control( type="text", name='employee_name', placeholder="Name of Employee", value=noDues.employee_name )

    .form-group
      .col-sm-4.col-sm-offset-1             
        label.control-label( for='Pf_no' ) PF No.
      .col-sm-6
        input#Pf_no.form-control( type='text', name='Pf_no', placeholder="PF No.", value=noDues.Pf_no )

    .form-group
      .col-sm-4.col-sm-offset-1     
        label.control-label( for='designation_id' ) Designation
      .col-sm-6
        select.form-control( name="designation_id" )
          each designation in designations
            if( noDues.designation_id )
              option( id=designation._id, value=designation._id, selected=noDues.designation_id.toString() == designation._id.toString() ? true : false )= designation.designation_name
            else
              option( id=designation._id, value=designation._id, selected=noDues.designation_id == designation._id ? true : false )= designation.designation_name

    .form-group
      .col-sm-4.col-sm-offset-1     
        label.control-label( for='project_no' ) Project No.
      .col-sm-6
        input#project_no.form-control( type='text', name='project_no', placeholder="Project No.", value=noDues.project_no )

    .form-group 
      .col-sm-4.col-sm-offset-1
        label( class="control-label,text-left" ) Duration of appointment
      .col-sm-6
        .input-group
          span.input-group-addon From
          input#from.form-control.datepicker( type="text", name="from", placeholder="select a date", value=noDues.from )
          span.input-group-addon To
          input#to.form-control.datepicker( type="text", name="to", placeholder="select a date", value=noDues.to )

    .form-group
      .col-sm-4.col-sm-offset-1      
        label( for='resignation_date', class="control-label,text-left" ) Date of Resignation / Termination (if applicable)
      .col-sm-6
        input#resignation_date.form-control.datepicker( type="text", name="resignation_date", placeholder="Resignation Date", value=noDues.resignation_date )

    .form-group
      .col-sm-4.col-sm-offset-1     
        label.control-label( for="re_emp_project_no" ) If re-employed, Project No.
      .col-sm-6
        input#re_emp_project_no.form-control( type="text", name="re_emp_project_no", placeholder="If re-employed, Project No.", value=noDues.re_emp_project_no )

    .form-group
      .col-sm-4.col-sm-offset-1    
        label.control-label( for="bank_account_no" ) Bank Account No.
      .col-sm-6
        input#bank_account_no.form-control( type="text", name="bank_account_no", placeholder="Bank Account No.", value=noDues.bank_account_no )
        
    .form-group
      .col-sm-4.col-sm-offset-5
        button.btn.btn-primary( type="submit", name="submit", value="Submit" ) Submit
    
        button.btn.btn-default( type="reset", name="Reset" ) Reset
      

 