extends ../layouts/default

block main
  .container
   .row
    .col-sm-12
      .text-center
        h3|Indian Institute of Technology Jodhpur
        h4|Research & Development


block content

      form#noDuesForm(action='/no_dues', name='noDuesForm', method='post',class='form-horizontal')
        input(type='hidden', name='_csrf', value="#{csrf_token}")

        .form-group
          .col-sm-12
            .text-center
              h4|No-Dues Form
        hr
  
        .form-group
          .col-sm-11.col-sm-offset-1
            b|Note : Required Fields are indicated with * mark.
        hr
      
        .form-group
          .col-sm-4.col-sm-offset-1
                label(for='employee_name', class="control-label") Name of Employee *
          .col-sm-6     
                input#employee_name.form-control( type="text", name='employee_name', placeholder="Name of Employee", value=noDues.employee_name )

        .form-group
          .col-sm-4.col-sm-offset-1             
                label( for='Pf_no', class="control-label" ) PF No. *
          .col-sm-6
                input#Pf_no.form-control(type='text', name='Pf_no', placeholder="PF No.", value=noDues.Pf_no )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label( for='designation_id', class="control-label" ) Designation *
          .col-sm-6
                select.form-control(name="designation_id")
                  each designation in designations
                    if(noDues.designation_id)
                      option( id=designation._id, value=designation._id, selected=noDues.designation_id.toString() == designation._id.toString() ? true : false )= designation.designation_name
                    else
                      option( id=designation._id, value=designation._id, selected=noDues.designation_id == designation._id ? true : false )= designation.designation_name

        .form-group
          .col-sm-4.col-sm-offset-1     
                label( for='project_no', class="control-label") Project No. *
          .col-sm-6
                input#project_no.form-control( type='text', name='project_no', placeholder="Project No.", value=noDues.project_no )

        .form-group 
          .col-sm-4.col-sm-offset-1
             label(class="control-label,text-left") Duration of appointment
          .col-sm-1
             label(for="from_adhoc", class="control-label") From
          .col-sm-2
             input#from.form-control.datepicker( type="text", name="from", placeholder="From", value=noDues.from )
          .col-sm-1
             label(for="to", class="control-label") To 
          .col-sm-2
             input#to.form-control.datepicker( type="text", name="to", placeholder="To", value=noDues.to )

        .form-group
          .col-sm-4.col-sm-offset-1      
                label(for='resignation_date', class="control-label,text-left") Date of Resignation / Termination (if applicable)
          .col-sm-6
                input#resignation_date.form-control.datepicker( type="text", name="resignation_date",placeholder="Resignation Date", value=noDues.resignation_date )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for="re_emp_project_no", class="control-label") If re-employed, Project No.
          .col-sm-6
                input#re_emp_project_no.form-control( type="text", name="re_emp_project_no",placeholder="If re-employed, Project No.", value=noDues.re_emp_project_no )

        .form-group
          .col-sm-4.col-sm-offset-1    
                label(for="bank_account_no", class="control-label") Bank Account No. *
          .col-sm-6
                input#bank_account_no.form-control( type="text", name="bank_account_no", placeholder="Bank Account No.", value=noDues.bank_account_no )
            
        .form-group
          .col-sm-4.col-sm-offset-5
                button.btn.btn-primary(type="submit", name="submit", value="Submit") Submit
        
                button.btn.btn-default(type="reset", name="Reset") Reset
          

 