extends ../layouts/default

block main
  .text-center
    h2|Requisition for Payment or Reimbursement (Not exceeding Rs.50,000/-) 
block content
  form( class="formDecor", method='post', action="/approval_for_advertisement" )
    input( type='hidden', name='_csrf', value="#{csrf_token}" )
    .form-horizontal(role="form")
      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Reqisition for
        .col-sm-2
          input#pay( type="radio", name="requisition", value='true' checked)
          label.control-label payment
        .col-sm-3
          input#reimbursement( type="radio", name="requisition", value='false' )
          label.control-label reimbursement
        .col-sm-2

      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Project Investigator Name
        .col-sm-6
          input#project_investigator_name.form-control( type="text", name="project_investigator_name", placeholder="Enter project investigator name", value=requisitionPayment.project_investigator_name )
        .col-sm-1

      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Project Investigator Pf No
        .col-sm-6
          input#pf_no.form-control( type="text", name="pf_no", placeholder="Enter project investigator's PF no.", value=requisitionPayment.pf_no )  
        .col-sm-1

      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Project No
        .col-sm-6
          input#project_no.form-control( type="text", name="project_no", placeholder="Enter project no", value=requisitionPayment.project_no )  
        .col-sm-1

      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Budeget Head
        .col-sm-6
          select#budget_head.form-control( name="budget_head" )
            option( value='consumables', selected=requisitionPayment.budget_head=='consumables' ? true : false ) Consumable
            option( value='contigency', selected=requisitionPayment.budget_head=='contigency' ? true : false ) Contingency
            option( value='convenor', selected=requisitionPayment.budget_head=='convenor' ? true : false ) convenor/Equipment Investigator
            option( value='books', selected=requisitionPayment.budget_head=='books' ? true : false ) Books
            option( value='tA', selected=requisitionPayment.budget_head=='tA' ? true : false ) TA 
            option( value='other', selected=requisitionPayment.budget_head=='other' ? true : false ) Others
            option( value='non_consumable', selected=requisitionPayment.budget_head=='non_consumable' ? true : false ) Non Consumable
        .col-sm-1

      .form-group
        .col-sm-4.col-sm-offset-1
          label(class="control-label,text-left") Payment to be made in the name of 
        .col-sm-6
          input#payment.form-control( type="text", name="payment", placeholder="Payment to be made in the name of ", value=requisitionPayment.payment )  
        .col-sm-1
      
      .form-group
        .col-sm-4.col-sm-offset-1
          label.control-label Bank A/C No.(if reimbursement) 
        .col-sm-6
          .input-group
            span.input-group-addon SBI
            input#bank_account_no.form-control( name="bank_account_no", type="text", placeholder="Enter bank account no", value=requisitionPayment.bank_account_no )     
        .col-sm-1

      .form-group
        .col-sm-4.col-sm-offset-4
          b| Details of Bills claimed 
        .col-sm-4

      .col-sm-1
      .col-sm-10
        .table-responsive
          table#myTable( class='table table-bordered' )
            tr
              th #
              th Invoice Bill No
              th Date
              th Item Purchased
              th Amount
              th Stock Register Page No.
              th 
               button.btn.btn-default( type="button", name="add", onclick="generateRow()" ) Add
            tr
              td  
              td 
              td
              td
                label.control-label Total Amount
              td
                input#total_amount.form-control( type='text', name='total_amount', readonly )
              td
      .col-sm-1 

      .form-group
        .col-sm-4.col-sm-offset-5
          button.btn.btn-primary( type="submit", name="Submit" ) Submit
          
          button.btn.btn-default( type="reset", name="Reset" ) Reset
block foot    
  script.
    var i=1;  
    function generateRow() {
      var table = document.getElementById("myTable");
      var row = table.insertRow(i);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      var cell6 = row.insertCell(5);

      cell1.innerHTML = i;
      cell2.innerHTML = "<input type='text' id='invoice_bill"+i+"'' name='details["+i+"][invoice_bill]' class='form-control'>";
      cell3.innerHTML = "<input type='text' id='date"+i+"' name='details["+i+"][date]' class='form-control'>";
      cell4.innerHTML = "<input type='text' id='item_purchase"+i+"' name='details["+i+"][item_purchase]' class='form-control'>";
      cell5.innerHTML = '<input type="text" id="amount'+i+'" name="amount" onkeyup="total(this, \'total_amount\')" class="form-control">';
      cell6.innerHTML = "<input type='text' id='stock_register"+i+"' name='details["+i+"][stock_register]' class='form-control'>";
      i++;
    }
    

    
      
     

   