extends ../layouts/default

block main
  .container
   .row
    .col-sm-12
       center
         h3|Indian Institute of Technology Jodhpur
         h4|Research & Development
block content
  form(action='/travel_advance_approval', name='trvlAdvncApprovForm', method='post',class='form-horizontal')
        input(type='hidden', name='_csrf', value="#{csrf_token}")

        .form-group
          .col-sm-12
            center
             h4|Journey cum Travel Advance Approval Form
        hr
  
        .form-group
          .col-sm-11.col-sm-offset-1
            b|Note : Required Fields are indicated with * mark.
        hr
      
        .form-group
          .col-sm-4.col-sm-offset-1
                label(for='project_no',class="control-label") Project Number *
          .col-sm-6     
                input#project_no.form-control( type="text", name='project_no', placeholder="Project Number", value=travelAdvanceApproval.project_no, required )

        .form-group
          .col-sm-4.col-sm-offset-1
             
                label(for='name_of_traveller',class="control-label") Name of the Traveller *
          .col-sm-6
                input#name_of_traveller.form-control( type='text', name='name_of_traveller', placeholder="Traveller Name", value=travelAdvanceApproval.name_of_traveller, required )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for='designation',class="control-label") Designation *
          .col-sm-6
                input#designation.form-control( type='text', name='designation', placeholder="Designation", value=travelAdvanceApproval.designation, required )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for='pf_no',class="control-label") P F No / Roll No *
          .col-sm-6
                input#pf_no.form-control( type='text', name='pf_no', placeholder="P F No / Roll No", value=travelAdvanceApproval.pf_no, required )

        .form-group
          .col-sm-4.col-sm-offset-1      
                label(for='journey_date',class="control-label") Journey Date 
          .col-sm-6
                input#journey_date.form-control.datepicker( type='text', name='journey_date', placeholder="Journey Date", value=travelAdvanceApproval.journey_date )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for='returning_date',class="control-label") Returning Date 
          .col-sm-6
                input#returning_date.form-control.datepicker( type='text', name='returning_date', placeholder="Returning Date", value=travelAdvanceApproval.returning_date )

        .form-group
          .col-sm-4.col-sm-offset-1    
                label(for='travel_destination',class="control-label") Travel Destination 
          .col-sm-6
                input#travel_destination.form-control( type='text', name='travel_destination', placeholder="Travel Destination", value=travelAdvanceApproval.travel_destination )
            
        .form-group
          .col-sm-4.col-sm-offset-1       
                label(for='purpose_of_journey',class="control-label") Purpose of Journey 
          .col-sm-6
                input#purpose_of_journey.form-control( type='text', name='purpose_of_journey', placeholder="Purpose of Journey ", value=travelAdvanceApproval.purpose_of_journey )

        .form-group
          .col-sm-4.col-sm-offset-1      
                label(for='mode_of_travel',class="control-label") Mode of Travel
          .col-sm-6
                select#mode_of_travel.form-control( name='mode_of_travel')
                     option(value=1, selected=travelAdvanceApproval.mode_of_travel==1 ? true : false) Air
                     option(value=2, selected=travelAdvanceApproval.mode_of_travel==2 ? true : false) Rail
                     option(value=3, selected=travelAdvanceApproval.mode_of_travel==3 ? true : false)  Road
                     option(value=4, selected=travelAdvanceApproval.mode_of_travel==4 ? true : false) Others
          
        .form-group
          .col-sm-4.col-sm-offset-1      
                label(for='approxiamte_fair',class="control-label,text-left") Approximate Fare(To & From) 
          .col-sm-6
                input#approxiamte_fair.form-control( type='text', name='approxiamte_fair', placeholder="Approximate Fare(To & From)", value=travelAdvanceApproval.approxiamte_fair )

        .form-group
          .col-sm-4.col-sm-offset-1    
                label(for='advance_required',class="control-label") Advance Required *
          .col-sm-6
                input#advance_required.form-control( type='text', name='advance_required', placeholder="Advance Required", value=travelAdvanceApproval.advance_required, required )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for='bank_account_no',class="control-label") Bank Account No. *
          .col-sm-6
                input#bank_account_no.form-control( type='text', name='bank_account_no', placeholder="Bank Account No.", value=travelAdvanceApproval.bank_account_no, required )

        .form-group
          .col-sm-4.col-sm-offset-1      
                label(for='previous_advance_pending',class="control-label,text-left") Any Previous Advance Pending ?
          .col-sm-6
                input#previous_advance_pending.form-control( type='text', name='previous_advance_pending', placeholder="Any Previous Advance Pending ?", value=travelAdvanceApproval.previous_advance_pending )

        .form-group
          .col-sm-4.col-sm-offset-1     
                label(for='arrangement_classes',class="control-label,text-left") Arrangement of Classes/Duties
          .col-sm-6
                input#arrangement_classes.form-control( type='text', name='arrangement_classes', placeholder="Arrangement of Classes/Duties", value=travelAdvanceApproval.arrangement_classes )
             
        .form-group
          .col-sm-1.col-sm-offset-5
                button.btn.btn-primary(type='submit', name='submit', value='Submit',class="btn btn-default") Submit
          .col-sm-1
                button.btn.btn-default(type="reset", name="Reset") Reset
          

 