extends ../layouts/default

block main
  h2|List of Projects

block content
  - var cnt = 0;
  #accordion.panel-group
    each project in projects
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
              | #{project.project_title}
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            // Nav tabs
            ul.nav.nav-tabs
              li.active
                a(href='#details', data-toggle='tab') Details
              li
                a(href='#attachments', data-toggle='tab') Attachments
              li
                a(href='#investigators', data-toggle='tab') Investigators
              li
                a(href='#funds', data-toggle='tab') Funds
              li
                a(href='#project_posts', data-toggle='tab') Project Posts
              li
                a(href='#travel_details', data-toggle='tab') Travel Details
            // Tab panes
            .tab-content
              #details.tab-pane.fade.in.active
                br
                br
                form.form-horizontal(role='form')
                  .form-group
                    label.col-sm-2.control-label(for='agency') Sponsoring Agency
                    .col-sm-10
                      input#agency.form-control(type='text', placeholder='Sponsoring Agency', disabled='disabled', value='#{project.sponsoring_agency}')
                  .form-group
                    label.col-sm-2.control-label(for='area_of_research') Area Of Research
                    .col-sm-10
                      input#area_of_research.form-control(type='text', placeholder='Area Of Research', disabled='disabled', value='#{project.research_area}')
                  .form-group
                    label.col-sm-2.control-label(for='type_of_agency') Type Of Agency
                    .col-sm-10
                      select#type_of_agency.form-control(disabled='disabled')
                        option(value="1" , selected=project.type_of_agency == 1? true:false) Industry
                        option(value="2" , selected=project.type_of_agency == 2? true:false) PSU
                        option(value="3" , selected=project.type_of_agency == 3? true:false) Central Govt.
                        option(value="4" , selected=project.type_of_agency == 4? true:false) State Govt.
                        option(value="5" , selected=project.type_of_agency == 5? true:false) Others
                  .form-group
                    label.col-sm-2.control-label(for='country') Country
                    .col-sm-10
                      input#country.form-control(type='text', placeholder='Country', disabled='disabled', value="#{project.country}")
                  .form-group
                    label.col-sm-2.control-label(for='sanction_number') Sanction Number
                    .col-sm-10
                      input#sanction_number.form-control(type='text', placeholder='Sanction Number', disabled='disabled', value="#{project.sanction_number}")
                  .form-group
                    label.col-sm-2.control-label(for='start_date') Sanction Date
                    .col-sm-10
                      - var projectDate = project.sanction_date.getFullYear() + "-" + ("0" + (project.sanction_date.getMonth()+1)).slice(-2) + "-" + ("0" + project.sanction_date.getDate()).slice(-2)
                      input#start_date.form-control(type='date', disabled='disabled', value='#{projectDate}')
                  .form-group
                    label.col-sm-2.control-label(for='start_date') Start Date
                    .col-sm-10
                      - var startDate = project.start_date.getFullYear() + "-" + ("0" + (project.start_date.getMonth()+1)).slice(-2) + "-" + ("0" + project.start_date.getDate()).slice(-2)
                      input#start_date.form-control(type='date', disabled='disabled', value='#{startDate}')
                  .form-group
                    label.col-sm-2.control-label(for='end_date') End Date
                    .col-sm-10
                      - var endDate = project.end_date.getFullYear() + "-" + ("0" + (project.end_date.getMonth()+1)).slice(-2) + "-" + ("0" + project.end_date.getDate()).slice(-2)
                      input#end_date.form-control(type='date', disabled='disabled', value='#{endDate}')
                  .form-group
                    label.col-sm-2.control-label(for='duration') Duration
                    .col-sm-10.input-group
                      input#duration.form-control(type='number', placeholder='Duration', disabled='disabled', value='#{project.duration}')
                      span.input-group-addon Days
                  .form-group
                    label.col-sm-2.control-label(for='sanctioned_amount') Sanctioned Amount
                    .col-sm-10.input-group
                      span.input-group-addon ₨
                      input#sanctioned_amount.form-control(type='number', placeholder='Sanctioned Amount', disabled='disabled', value="#{project.sanctioned_amount}")
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      button.btn.btn-default(type='submit', disabled='disabled') Update
                      button.btn.btn-default(type='button') Edit
              #attachments.tab-pane.fade
                br
                br
                form.form-inline(role='form')
                  .form-group
                    label.sr-only(for='attachments[name]') Name
                    input.form-control(type='text', name='attachments[name]', placeholder='Enter name of file')
                  .form-group
                    label.sr-only(for='attachments[type]') Type
                    input.form-control(type='text', name='attachments[type]', placeholder='Enter type of attachment')
                  .form-group
                    label.sr-only(for='attachments[url]') File Input
                    input(type='file', name='attachments[url]', placeholder='Input file', accept='application/pdf')
                  button.btn.btn-info(type='submit') Upload
                hr
                if(project.attachments.length == 0)
                  p No Files are attached to current project
              #investigators.tab-pane.fade
              #funds.tab-pane.fade
              #project_posts.tab-pane.fade
              #travel_details.tab-pane.fade
    if (projects == undefined)
      p No Entries Found