extends ../layouts/default

block main
  center
      h2|Add New Faculty
block content
            
  form(class="formDecor", method='post',action='/faculty')
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    .form-horizontal(role="form")
     .form-group
      .col-sm-2
      .col-sm-3
        label(class="control-label") Faculty Name
      .col-sm-5
        input(type="text", name="faculty_name", placeholder="Enter a faculty name...", class="form-control", id="faculty_input",value=faculty.faculty_name)
      .col-sm-2
     .form-group
      .col-sm-2
      .col-sm-3
        label(class="control-label") Department
      .col-sm-5
        select(name="faculty_dept_id", class="form-control")
          - each department in departments
            option(value=dp._id,selected=faculty.faculty_dept_id == dp._id ? true : false)= dp.department
            
      .col-sm-2
    
     .form-group
      .col-sm-2
      .col-sm-3
        label(class="control-label") Designation
      .col-sm-5
        select(name="faculty_desig_id", class="form-control")
          - each post in posts
            option(value=po._id,selected=faculty.faculty_desig_id == po._id ? true : false)= po.post_name
      .col-sm-2
               
     .form-group
      .col-sm-2
      .col-sm-3  
        label(class="control-label") Email
      .col-sm-5
        input(type="text", name="faculty_email", placeholder="Enter faculty email...", class="form-control", id="faculty_email",value=faculty.faculty_email)
      .col-sm-2
     .form-group
      .col-sm-2
      .col-sm-3  
        label(class="control-label") Password
      .col-sm-5
        input(type="password", name="faculty_password", placeholder="Enter faculty password...", class="form-control", id="faculty_password",value=faculty_password)
      .col-sm-2

     .form-group
        .col-sm-offset-5.col-sm-1
           button.btn.btn-default(type="submit", name="Register") Register
        .col-sm-1
           button.btn.btn-default(type="reset", name="Reset") Reset
        

   //- div.bodyContent2
      div.subTitle List of Faculties
      div.listTable
        div.listTableRow.solidBack
          div.listTableRowItem(style="width: 3%; text-align: center; font-weight: bold;")
          div.listTableRowItem(style="width: 24%; text-align: center; font-weight: bold;") Name
          div.listTableRowItem(style="width: 30%; text-align: center; font-weight: bold;") Department
          div.listTableRowItem(style="width: 30%; text-align: center; font-weight: bold;") Designation
          div.listTableRowItem(style="width: 6%; text-align: center; font-weight: bold;")

      cnt = 0;
      - each fa in facs
        div.listTable
          div.listTableRow(style="").bb
            div.listTableRowItem(style="width: 3%; text-align: center;")= ++cnt
              .
            div.listTableRowItem(style="width: 24%; text-align: center; vertical-align: top;")= fa.faculty_name
            div.listTableRowItem(style="width: 30%; text-align: center; vertical-align: top;")
              - each dp in dept
                if dp._id == fa.faculty_dept_id
                  div= dp.department
            div.listTableRowItem(style="width: 30%; text-align: center; vertical-align: top;")
              - each po in post
                if po._id == fa.faculty_desig_id
                  div= po.post_name
            div.listTableRowItem(style="width: 6%; text-align: center; vertical-align: top;")
              form(method="get", action="/dord/faculty/:id/edit")
                input(name="_id", type="hidden", value=fa._id.toHexString())
                input(type="submit", value="Edit", class="formLink")
              form( method="post", action="/dord/faculty/:id/delete") 
                input(name="_id", type="hidden", value=fa._id.toHexString()) 
                input(type="submit", value="Delete", class="formLink")
      if cnt == 0
        div.listTable No entries found
