extends ../layouts/default

block main
  .text-center
    h3|List of Faculties
block content
  button.btn.btn-primary( type="button", name="AddFaculty", id="AddFaculty" ) Add New Faculty
  br
  br
  form#FacultyForm( class="formDecor", method='post', action='/faculty', hidden )
    input( type='hidden', name='_csrf', value="#{csrf_token}" )
    .form-horizontal( role="form" )
     .form-group
      .col-sm-2
      .col-sm-3
        label( class="control-label" ) Faculty Name
      .col-sm-5
        input#faculty_input.form-control( type="text", name="faculty_name", placeholder="Enter a faculty name", value=faculty.faculty_name )
      .col-sm-2
     .form-group
      .col-sm-2
      .col-sm-3
        label( class="control-label" ) Department
      .col-sm-5
        select.form-control(name="faculty_dept_id")
          - each department in departments
            if(faculty.faculty_dept_id)
              option( value=department._id, selected=faculty.faculty_dept_id.toString() == department._id.toString() ? true : false )= department.department_name
            else
              option( value=department._id, selected=faculty.faculty_dept_id == department._id ? true : false )= department.department_name 
      .col-sm-2
    
     .form-group
      .col-sm-2
      .col-sm-3
        label( class="control-label" ) Designation
      .col-sm-5
        select.form-control(name="faculty_desig_id")
          - each designation in designations
            if(faculty.faculty_desig_id)
              option(id=designation._id, value=designation._id,selected=faculty.faculty_desig_id.toString() == designation._id.toString() ? true : false)= designation.designation_name
            else
              option(id=designation._id, value=designation._id,selected=faculty.faculty_desig_id == designation._id ? true : false)= designation.designation_name
      .col-sm-2
               
     .form-group
      .col-sm-2
      .col-sm-3  
        label( class="control-label" ) Email
      .col-sm-5
        input#faculty_email.form-control( type="text", name="faculty_email", placeholder="Enter faculty email", value=faculty.faculty_email )
      .col-sm-2
     

     .form-group
        .col-sm-4.col-sm-offset-5
           button.btn.btn-default( type="submit", name="Register" ) Register
        
           button.btn.btn-default( type="reset", name="Reset" ) Reset
        

  .table-responsive
    table( class='table table-striped table-bordered table-condensed' )
      thead
        tr
          th.text-center #
          th Faculty Name
          th Email ID
          th Department
          th Designation
          th
          th
      tbody   
        each faculty,i in faculties
          tr
            td.text-center
              form( method="post", action="/faculty/#{faculty._id}" ) 
                input( type='hidden', name="_method", value="delete" ) 
                input( type='hidden', name='_csrf', value="#{csrf_token}" )
                input( name="_id", type="hidden", value=faculty._id ) 
                button.btn.btn-default.glyphicon.glyphicon-trash( type='submit', onclick="return confirm('Are you sure to delete?')" )

            form( method="post", action="/faculty/#{faculty._id}" ) 
              input( type='hidden', name="_method", value="PUT" ) 
              input( type='hidden', name='_csrf', value="#{csrf_token}" )
              input( name="_id", type="hidden", value=faculty._id ) 
                  
              td
                input.form-control( type='text', name="faculty_name", value=faculty.faculty_name, disabled='true',id='faculty_name#{i}' )= faculty.faculty_name

              td
                input.form-control( type='text', name="faculty_email", value=faculty.faculty_email, disabled='true',id='faculty_email#{i}' )= faculty.faculty_email

              td
                select.form-control( type='text', disabled='true', name='faculty_dept_id', id='department_name#{i}' )
                  each department in departments
                    option( value=department._id, selected=faculty.faculty_dept_id._id.toString() == department._id.toString() ? true : false )= department.department_name
                
              td  
                select.form-control( type='text', disabled='true', name='faculty_desig_id' , id='designation_name#{i}' )
                  option Please Select
                  each desig in designations                    
                    if(faculty.faculty_desig_id == null)
                      option(value=desig._id)= desig.designation_name
                    else
                      option( value=desig._id, selected=faculty.faculty_desig_id._id.toString() == desig._id.toString() ? true : false )= desig.designation_name
                  
              td.text-center
                button.btn.btn-default( type="button", onclick="enablefaculty('update#{i}','faculty_name#{i}','department_name#{i}','designation_name#{i}','faculty_email#{i}')" ) Edit

              td.text-center
                button.btn.btn-default( type='submit', disabled='true', id='update#{i}', onclick="return confirm('Are you sure to Update?')" ) Update
block foot
  script.
    function enablefaculty(id1,id2,id3,id4,id5) {
        document.getElementById(id1).disabled = false;
        document.getElementById(id2).disabled = false;
        document.getElementById(id3).disabled = false;
        document.getElementById(id4).disabled = false;
        document.getElementById(id5).disabled = false;
    }

    $( "#AddFaculty" ).click(function() {
      $( "#FacultyForm" ).slideToggle( "slow" );
    });
