extends ../layouts/default

block main
  center
      h2|Posts

block content
  form(class="formDecor", method='post',action='/posts')
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        center
          h4|Add a Project post
        
        hr
  
        .form-horizontal(role="form")
         .form-group
          .col-sm-2
          .col-sm-3
             label(for='pn',class="control-label") Post Name
          .col-sm-5
             input#pn.NameClass(type="text", name="post_name", placeholder="Enter a post name", class="form-control", id="post_input",value=posts.post_name)
          .col-sm-2
      
         .form-group
          .col-sm-2
          .col-sm-3      
             label(for='pq',class="control-label") Post Qualification
          .col-sm-5
             input#pq.NameClass(type="text", name="post_qualification", placeholder="Enter the post qualification...", class="form-control", id="post_qualification",value=posts.post_qualification)
          .col-sm-2

         .form-group
          .col-sm-2
          .col-sm-3
            label(for='pt',class="control-label") Post Type
          .col-sm-5
            select(name="post_type", id="post_type", class="form-control",value=posts.post_type)
                
                option(value=1 selected=posts.post_type==1? true : false) Contractual Position
                option(value=2 selected=posts.post_type==2? true : false) Permanent Position
          .col-sm-2
         .form-group
          .col-sm-2
          .col-sm-3
            label(for='pd',class="control-label") Post Designation
          .col-sm-5
            select(name="post_desig", id="post_desig", class="form-control")
               
               option(value=1 selected=posts.post_desig==1? true : false) Scientific Staff
               option(value=2 selected=posts.post_desig==2? true : false) Technical Staff
               option(value=3 selected=posts.post_desig==3? true : false) Admiistrative Staff
               option(value=4 selected=posts.post_desig==4? true : false) Academic Staff
          .col-sm-2

         .form-group
          .col-sm-offset-5.col-sm-1
            button.btn.btn-default(type="submit", name='add') Add
          .col-sm-1
            button.btn.btn-default(type="reset",name='reset') Reset
          
 //-   div.bodyContent2
      div.subTitle List of Posts
      div.listTable
        div.listTableRow.solidBack
          div.listTableRowItem(style="width: 3%; text-align: center; font-weight: bold;")
          div.listTableRowItem(style="width: 24%; text-align: center; font-weight: bold;") Post Name
          div.listTableRowItem(style="width: 20%; text-align: center; font-weight: bold;") Post Type
          div.listTableRowItem(style="width: 20%; text-align: center; font-weight: bold;") Post Qualification
          div.listTableRowItem(style="width: 20%; text-align: center; font-weight: bold;") Post Designation
          div.listTableRowItem(style="width: 6%; text-align: center; font-weight: bold;")

     cnt = 0;
      ptype = "";
      - each po in posts
        case po.post_type
          when "1"
            ptype = "Contractual Position";
          when "2"
            ptype = "Permanent Position";

        case po.post_desig
          when "1"
            pdesig = "Scientific Staff"
          when "2"
            pdesig = "Technical Staff"
          when "3"
            pdesig = "Administrative Staff"
          when "4"
            pdesig = "Academic Staff"

        div.listTable
          div.listTableRow(style="").bb
            div.listTableRowItem(style="width: 3%; text-align: center;")= ++cnt
              .
            div.listTableRowItem(style="width: 24%; text-align: center; vertical-align: top;")= po.post_name
            div.listTableRowItem(style="width: 20%; text-align: center; vertical-align: top;")= ptype
            div.listTableRowItem(style="width: 20%; text-align: center; vertical-align: top;")= po.post_qualification
            div.listTableRowItem(style="width: 20%; text-align: center; vertical-align: top;")= pdesig
            div.listTableRowItem(style="width: 6%; text-align: center; vertical-align: top;")
                form(method="get", action="/dord/posts/:id/edit")
                  input(type="hidden", value=po._id.toHexString(), name="_id")
                  input(type="submit", value="Edit", class="formLink")
                form( method="post", action="/dord/posts/:id/delete") 
                  input(name="_id", type="hidden", value=po._id.toHexString()) 
                  input(type="submit", value="Delete", class="formLink")
            
      if cnt == 0
        div.listTable No entries found
