extends ../layouts/default

block main
  center
      h2|List of Designations

block content
  a.btn.btn-primary(href="/designation") Add New Designation
  br
  br
  .table-responsive
    table(class='table table-condensed')
      thead
        tr
          th #
          th Designation 
          th Minimum Qualification
          th Minimum Experience
          th Designation Type
          th Designation Staff
          th
          th
      tbody
        each designation,i in designations
          tr
            td
              form( method="post", action="/designation/#{designation._id}") 
                input(type='hidden', name="_method", value="delete") 
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                input(name="_id", type="hidden", value=designation._id.toHexString()) 
                button.btn.btn-default.glyphicon.glyphicon-trash(type='submit',onclick="return confirm('Are you sure to delete?')")
            form( method="post", action="/designation/#{designation._id}")
              input(type='hidden', name="_method", value="PUT") 
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(name="_id", type="hidden", value=designation._id.toHexString())
              td
                input.form-control(type='text', name="designation_name",value=designation.designation_name, disabled='false',id='designation_name#{i}')
              td
                input.form-control(type='text', name="min_qualification",value=designation.min_qualification, disabled='false',id='minimum_qualification#{i}')
              td
                .input-group
                  span.input-group-addon Year
                  input.form-control(type="number", name='min_experience[year]', id='year#{i}', disabled='true', value=designation.min_experience.year)

                  span.input-group-addon Month
                  input.form-control(type="number", name='min_experience[month]', id='month#{i}', disabled='true', value=designation.min_experience.month)
              td
                select.form-control(name="designation_type", id="designation_type#{i}", disabled='true')
                  option(value=1, selected=parseInt(designation.designation_type) == 1? true:false) Contractual Position
                  option(value=2, selected=parseInt(designation.designation_type) == 2? true:false) Permanent Position
              td
                select.form-control(name="staff_type", id="staff_type#{i}", disabled='true')
                  option(value=1, selected=parseInt(designation.staff_type) == 1? true:false) Scientific Staff
                  option(value=2, selected=parseInt(designation.staff_type) == 2? true:false) Technical Staff
                  option(value=3, selected=parseInt(designation.staff_type) == 3? true:false) Admiistrative Staff
                  option(value=4, selected=parseInt(designation.staff_type) == 4? true:false) Academic Staff
              td
                a.btn.btn-default(onclick="enablepost('update#{i}','designation_name#{i}','minimum_qualification#{i}','designation_type#{i}','staff_type#{i}','year#{i}','month#{i}')") Edit
              td 
                button.btn.btn-default(type='submit', disabled='true',id='update#{i}',onclick="return confirm('Are you sure to Update?')") Update